.catalogo { 
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.6rem;
    background-color: rgb(210, 208, 221);
    border-radius: 15px;
}

.catalogo ul {
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0 0 0 0;
    
}

.catalogo ul li {
    display: inline-block;
    padding: 0.6rem 0.6rem;
    margin: 0 0 0 0;
    text-decoration: none;
}


.catalogo_resize { 
    width: 158px;
    height: 248px;
}



/* A IMAGEM DEVE SER DE DIMENSOES 158px X 248px, mas são redimensionadas para caber width: 158px;
    height: 248px;*/


.catalogo .catalogo_resize {

    object-fit: fill;
    border-radius: 30px;
}

.catalogo p {
    text-align: center;
    font-size:calc(14px + 0.5vw);/* UMA UNIDADE DE MEDIDA VARIAVEL, PARA ACOMPANHAR O AJUSTAMENTO DE TAMANHOS DA TELA */
    font-weight:normal;
    margin: 0 0 0 0;

}

#top4 {
    margin: 1% 1% 1% 1%;
    font-size: 1.4rem;
    font-weight: bold;
}

@media all{
    .catalogo {
        overflow: hidden;
        display: flex;
        justify-content: space-evenly;
        margin-top: 0.6rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 0.6rem;
        background-color: rgb(210, 208, 221);
    }

    .catalogo ul {
        list-style:none;
        display:flex;
    }  
} 

.vermais{
    background: linear-gradient(to right, #ff105f, #ffad06);
    color: black;
    border-radius: 15px;
    font-size:calc(14px + 0.2vw);
    margin: 0.5%;
  }

  .vermais:hover {
    background: linear-gradient(to right, #83008f , #419100);
    transition: .3s;
    color: wheat;
  }
  