.sub_menu{  
    color: orange;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-size:calc(8px + 1vw);
  }
  
  .link_termos{
    list-style-type: none;
    padding: 5px; 
  }
  
  .termos{
    color: rgb(255, 198, 93);
  }
  
