
/* CUSTOM HOME SEARCH
CONTAINER

FONTE - https://www.fabriziovanmarciano.com/custom-search-form-page-html-css/

--------------------*/
.container-search {
  padding: 3px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  position: relative;
  margin: 10% 10% 10% 10%;
  background-color: white;
}

/* INPUT TEXT AREA
------------------*/
.custom-home-search input {
  border: none;
  width: 70%;
  font-size:calc(10px + 0.5vw);
}

/* SUBMIT BUTTON CSS
--------------------*/
.custom-home-search input[type=submit] {
  background: linear-gradient(to right, #ff105f, #ffad06);
  color: black;
  text-align: center;
  width: 25%;
  padding: 20px 0px 20px 0px;
  border-radius: 5px;
}

/* SUBMIT BUTTON HOVER EFFECT
-----------------------------*/
.custom-home-search input[type=submit]:hover {
  background: linear-gradient(to right, #83008f , #419100);
  transition: .3s;
}

searchsubmit{
font-size: 4vm;

}
/* FONTE https://www.fabriziovanmarciano.com/custom-search-form-page-html-css/
-----------------------------*/
