.catalogo { 
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.6rem;
    background-color: rgb(210, 208, 221);
    border-radius: 15px;
}

.catalogo ul {
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0 0 0 0;
    
}

.catalogo ul li {
    display: inline-block;
    padding: 0.6rem 0.6rem;
    margin: 0 0 0 0;
    text-decoration: none;
}


.catalogo_resize { 
    width: 158px;
    height: 248px;
}



/* A IMAGEM DEVE SER DE DIMENSOES 158px X 248px, mas são redimensionadas para caber width: 158px;
    height: 248px;*/


.catalogo .catalogo_resize {

    object-fit: fill;
    border-radius: 30px;
}

.catalogo p {
    text-align: center;
    font-size:calc(14px + 0.5vw);
    font-weight:normal;
    margin: 0 0 0 0;

}

#top4 {
    margin: 1% 1% 1% 1%;
    font-size: 1.4rem;
    font-weight: bold;
}

@media all{
    .catalogo {
        overflow: hidden;
        display: flex;
        justify-content: space-evenly;
        margin-top: 0.6rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 0.6rem;
        background-color: rgb(210, 208, 221);
    }

    .catalogo ul {
        list-style:none;
        display:flex;
    }  
} 

.vermais{
    background: linear-gradient(to right, #ff105f, #ffad06);
    color: black;
    border-radius: 15px;
    font-size:calc(14px + 0.2vw);
    margin: 0.5%;
  }

  .vermais:hover {
    background: linear-gradient(to right, #83008f , #419100);
    transition: .3s;
    color: wheat;
  }
  

  /* SWIPEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE */

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .slider-container {
    height: 100vh;
    display: inline-flex;
    overflow: hidden;
    scrollbar-width: none;
    transform: translateX(0);
    will-change: transform;
    transition: transform 0.3s ease-out;
    cursor: grab;
  }
  
  .slide{
    max-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  
  @media(min-width: 1200px){
    .slide {
      padding: 3rem;
    }
  }
  
  .slide img{
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 5px 50px -1px var(--shadow);
    border-radius: 4px;
    user-select: none;
  }
  
  .grabbing {
    cursor: grabbing;
  }
  
  .grabbing .slide img{
    transform: scale(0.9);
    box-shadow: 5px 5px 40px -1px var(--shadow);
  }
  
  