*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#background_html {
    background-color: rgb(50, 47, 66)
}

#menu_web {
    background-color: rgb(74, 70, 97);
}

#menu_web ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu_web ul li{
    display: inline;
}

#menu_web ul li a{
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu_web ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#menu_web ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}

#playzer_zone_nome_e_icone {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}