.sub_menu{  
    color: orange;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-size: 3vw;
  }
  
  .link_termos{
    list-style-type: none;
    padding: 5px; 
  }
  
  .termos{
    color: rgb(255, 198, 93);
  }
  
  .paragrafo_texto{
    color: wheat;
    position: relative;
    text-align: center;
    margin: 5% 5% 5% 5%;
  }
  
  .img_central{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 50%;
  }