.catalogo { 
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(210, 208, 221);
}

.catalogo ul {
    list-style-type: none;
    padding: 0;
    align-items: center;
}

.catalogo ul li {
    display: inline-block;
    padding: 0 0.6rem;
    text-decoration: none;
}

.catalogo_resize { 
    width: 158px;
    height: 248px;
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: contain;
}

/* A IMAGEM DEVE SER DE DIMENSOES 158px X 248px */
/* PS: ARRUMAR METODO PARA DIMENSIONAR IMAGEM ANTES DE INSERIR EM CLASSES, OU FAZER MANUALMENTE */
/* DE QUALQUER FORMA AS IMAGENS AINDA SEGUEM UM PADRÃO DE TAMANHO ALTERAVEL, ACOMPANHAMENTO AS DIMENSOES DA TELA */

.catalogo .catalogo_resize {
    width: 100%;
    height: auto;
}

.catalogo p {
    text-align: center;
    font-size: 2vw; /* UMA UNIDADE DE MEDIDA VARIAVEL, PARA ACOMPANHAR O AJUSTAMENTO DE TAMANHOS DA TELA */
    font-weight: bold;
}

@media all{
    .catalogo {
        overflow: hidden;
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        background-color: rgb(210, 208, 221);
    }

    .catalogo ul {
        list-style:none;
        display:flex;
    }  
} 
